<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Image and text -->
    <!--Funawesome CDN-->
    <script src="https://kit.fontawesome.com/2c43223b58.js" crossorigin="anonymous"></script>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">


        <img class="mr-3" src="./media/IMG-KSP.jpg" alt="Generic placeholder image" width="50" height="30">
        <div class="text-center">
            <a class="navbar-brand" href="{% url 'homepage'%}">KROME Sports Performance</a>

        </div>
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'about' %}">About <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                    Programs
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{% url 'flexmob'%}">Mobility & Flexibility</a>
                    <a class="dropdown-item" href="{% url 'conditioning' %}">Conditoning Speed & Agility</a>
                    <a class="dropdown-item" href="{% url 'power' %}">Strength & Power</a>
                </div>
            </li>
            <a class="nav-link" href="#">Membership</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Shop</a>
            </li>

        </ul>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link text-dark" href="#">KSP-TV<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Members</a>
                </li>

    </nav>

    </nav>
    <title>Homepage</title>
</head>

<body class="bg-dark">
    <div class="container">
        <div class="row ">
            <div class="col text-center text-warning">
                <h1 class="display-3">KSP ATHLETES</h1>
                <h1 class="display-4 text-white">LET'S WORK!</h1>
                <div class="container mb-4">
                    <div class=" embed-responsive-16by9">
                        <iframe class="embed-responsive-item mx-auto " width="1000" height="315"
                            src="https://www.youtube.com/embed/fU599S2F3k4" title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <div class=" contatiner mr-4 p-5">
                <div class="row justify-content-center">
                    <div class="text-center">
                        <div class="col-md-15">
                            <div class="card-deck ">
                                <div class="card border-warning mb-4" style="max-width: 18rem;">

                                    <div class="card-header text-dark">Results Driven

                                    </div>
                                    <div class="card-body text-dark">
                                        <h5 class="card-title"></h5>
                                        <i class="fa fa-thumbs-o-up fa-xl" aria-hidden="true"></i>
                                        <p class="card-text"> Thousands of athletes with amazing results. Our
                                            programs are composed by
                                            highly trained
                                            and
                                            certified proffesionals. From elite athletes to youth, we
                                            have a program for all athletes.</p>
                                    </div>
                                </div>
                                <div class="card border-warning mb-4" style="max-width: 18rem;">

                                    <div class="card-header text-dark">Affordable

                                    </div>
                                    <div class="card-body text-dark">
                                        <h5 class="card-title"></h5>
                                        <i class="fa fa-money fa-xl" aria-hidden="true"></i>
                                        <p class="card-text"> Our programs were built to help athletes and
                                            coaches, not break
                                            them. Become
                                            a memeber and
                                            gain access to all of our Elite programs and resources. From elite
                                            athletes
                                            to youth, we
                                            have a program for all athletes.</p>
                                    </div>
                                </div>
                                <div class="card border-warning mb-4" style="max-width: 18rem;">

                                    <div class="card-header text-dark">All Access

                                    </div>
                                    <div class="card-body text-dark">
                                        <h5 class="card-title"></h5>
                                        <i class="fa fa-play fa-xl" aria-hidden="true"></i>
                                        <p class="card-text"> Enjoy all access to programs, blogs, articles,
                                            instructional videos,
                                            shop
                                            discounts,
                                            event broadcasting on KSP-TV, and access to a KSP Coach through chat
                                            or
                                            email.</p>
                                    </div>
                                </div>
                                <div class="card border-warning mb-4" style="max-width: 18rem;">

                                    <div class="card-header text-dark">Efficient & Effective

                                    </div>
                                    <div class="card-body text-dark">
                                        <h5 class="card-title"></h5>
                                        <i class="fa fa-bolt fa-xl" aria-hidden="true"></i>
                                        <p class="card-text"> All KSP programs are easy to follow and
                                            customizable giving you full
                                            control
                                            over your
                                            training experience. KSP creates the perfect
                                            opportunity
                                            build the perfect training solution to achieve your goals</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container mb-3 p-2">
                            <center><button type="button" class="btn btn-outline-warning btn-lg">LET'S
                                    WORK</button>
                            </center>
                        </div>
                        <div class=" contatiner mr-3 p-3">
                            <div class="row justify-content-center">
                                <div class="text-center text-warning">
                                    <div class="col-md-15">
                                        <div>
                                            <h1>REASONS TO BECOME A KSP ATHLETE</h1>
                                            <div class="text-white">
                                                <h7>Looking to gain an athletic edge over your compition? You have come
                                                    to
                                                    the
                                                    right
                                                    place!</h7>
                                                <h7>With over a few thousand KSP athletes, KROME SPORTS PERFORMANCE
                                                    is known as the one of the top resources when it comes to training
                                                    athletes.
                                                </h7>
                                                <h7>Our researched
                                                    based
                                                    training programs ensure
                                                    increase in strength, speed, power, and mobility, while reducing
                                                    risk of
                                                    injuries
                                                    in order to reach optimal performance.</h7>

                                                <p> Our motto is
                                                    simple:
                                                <p>
                                            </div>
                                            <bold>
                                                <h1>
                                                    TRAIN TO BE ELITE!
                                                </h1>
                                            </bold>

                                        </div>
                                        <div class="col-md-20 ">

                                            <div id="carouselExampleIndicators" class="carousel slide"
                                                data-ride="carousel">
                                                <ol class="carousel-indicators">
                                                    <li data-target="#carouselExampleIndicators" data-slide-to="0"
                                                        class="active"></li>
                                                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                                                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                                                </ol>
                                                <div class="carousel-inner">

                                                    <div class="carousel-item active">

                                                        <img class="d-block mx-auto" src="./media/explode2.jpg"
                                                            alt="First slide" href="#" width="900" height="600">

                                                    </div>
                                                    <div class="carousel-item">
                                                        <img class="d-block mx-auto" src="./media/pullups.jpg"
                                                            alt="Second slide" width="900" height="600">
                                                    </div>
                                                    <div class="carousel-item">
                                                        <img class="d-block mx-auto" src="./media/IMG-1389-Original.jpg"
                                                            alt="Third slide" width="900" height="600">
                                                    </div>
                                                </div>
                                                <a class="carousel-control-prev" href="#carouselExampleIndicators"
                                                    role="button" data-slide="prev">
                                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                    <span class="sr-only">Previous</span>
                                                </a>
                                                <a class="carousel-control-next" href="#carouselExampleIndicators"
                                                    role="button" data-slide="next">
                                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                    <span class="sr-only">Next</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="container border-warning p-3 p-4">
                                    <div class="row justify-content-center">
                                        <div class="col-md-8  ">
                                            <ul class="list-unstyled">
                                                <li class="media">
                                                    <img class="align-self-center mr-3 p-2" src="./media/chris.JPG"
                                                        alt="Generic placeholder image" width="300" height="200">
                                                    <div class="media-body text-warning">
                                                        <h3 class="mt-0 mb-1">Flexibility & Mobility</h3>
                                                        <p class="text-white">
                                                            <h7>Flexibilty and mobility are the key to unlocking greater
                                                                potential in the muscles
                                                                for power
                                                                and strength movements.

                                                                KSP flexibility and mobilty programs improve your joint
                                                                health, mobilise your
                                                                connective
                                                                tissues and
                                                                increase your flexibility.</h7>
                                                        </p>
                                                    </div>
                                                </li>
                                                <li class="media my-4 text-warning ">
                                                    <img class="align-self-center mr-3 p-2 " src="./media/letswork.jpg"
                                                        alt="Generic placeholder image" width="300" height="200">
                                                    <div class="media-body">
                                                        <h3 class="mt-0 mb-1">Condtioning, Speed, & Agility</h3>
                                                        <ul class="list-unstyled">
                                                            <li>
                                                                <p class="text-white">
                                                                    <h7>Every athlete has heard
                                                                        of
                                                                        the term "hitting the wall"
                                                                        or not being able to
                                                                        finish
                                                                        the game or season.
                                                                        KSP certified Sports
                                                                        Performance
                                                                        Coaches help athletes
                                                                        understand of the importance of VO2 Max and zone
                                                                        training to ensure we are
                                                                        working
                                                                        all of our enegy systems efficiently.</h7>
                                                                </p>


                                                            </li>

                                                        </ul>
                                                    </div>
                                                </li>
                                                <li class="media">
                                                    <img class="align-self-center mr-3 p-2" src="./media/frontsquat.jpg"
                                                        alt="Generic placeholder image" width="300" height="200">
                                                    <div class="media-body text-warning">
                                                        <h3 class="mt-0 mb-1">Power & Strength</h3>
                                                        <p class="text-white">
                                                            <h7>We understand
                                                                the proces of tapping in to the kenetic chain to produce
                                                                maximum strength and power
                                                                in our movements. WE DO
                                                                NOT CHASE MAXES!!!! We lift in a controled manner with
                                                                monitored to increase
                                                                performance.If you TRAIN HEAVY, TRAIN HARD,
                                                                & TRAIN SMART, your numbers will increase.</h7>
                                                        </p>
                                                    </div>
                                                </li>
                                            </ul>
                                            <center><button type="button" class="btn btn-outline-warning btn-lg">LET'S
                                                    WORK</button></center>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
</body>

</html>